
 *{
      font-family: "Luckiest Guy", cursive;
      margin: 0px;
}
a{
  text-decoration: none;
}
.cabecalho{
     background-color: rgb(255, 179, 0);
     height: 100px;
     margin: auto;
     text-align: center;
}
.logo{
    width: 100px;
   margin-top: 8px;
}
.close{
  width: 50px;
 margin: 20px;
}
.logomain{
    margin: auto;
     text-align: center;
    
}
.logoclose{
  background-color: rgba(255, 255, 255, 0.493);
}
.svd{
  color: rgb(255, 255, 255);
   text-decoration: none;
}
.barra{
  background-color:  rgb(130, 9, 9);
  padding: 20px;
 
}
.lista{
  display: flex;
  justify-content: space-around;
 
}

a:hover{
  color:rgb(255, 179, 0) ;
  font-size: 20px;
  transition: 0.5s;
}
.cox{
  width: 400px;
margin-left: 80px;
margin-top: 15px;
box-shadow:5px 5px 5px  rgb(105, 103, 79) ;
border-radius: 10px;

}
.coxinha1{
  display: flex;
background-color: rgba(241, 234, 177, 0.718);

}
.nomecox{
color: black;

}
.nomecoxi{
  margin-left: 80px;
  margin-top: 10px;
  background-color: rgb(248, 214, 134);
  padding: 10px;
border-radius: 10px;
width: 300px;
box-shadow:5px 5px 5px   rgb(105, 103, 79) ;
margin-bottom: 20px;
}
.nomecoxi:hover{
  color:  rgb(130, 9, 9);
}