* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: aliceblue;
}

.title {
  background-color: #edb200;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

p {
  display: flex;
  justify-content: center;
  font-size: 300%;
  margin-top: 4%;
}

.linha{
  background-color: #edb200;
  width: 30%;
  margin:auto
}

input {
  margin-bottom: 40px;
  font-size: 15px;
  margin-top: 5px;
  background-color: none;
  width: 640px;
  height: 50px;
  border-radius: 15px;
  transition: transform 0.4s ease;
}

input:hover {
  transform: scale(1.1);
}

.caixa{
  height:100px;
}

.botao {
  margin-left: 90%;
  margin-right: 90%;
}

.enviar {
  width: 200px;
  letter-spacing: 3px;
  color: rgb(189, 164, 4);
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid rgb(198, 209, 0);
  font-size: 20px;
}

#style:hover {
  color: white;
  background-color: rgb(189, 164, 4);
  font-size: 17px;
  border: none;
}

label {
  font-size: 150%;
  color: rgb(224, 154, 3);
}

.forms {
  display: flex;
  align-items: center;
  gap: 10%;
}

.forms img {
  height: auto;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.forms {
  margin-top: -90px;
}

