* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0%;
  padding: 0%;
}

.title {
  background-color: #9d0000;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

nav,
a {
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  background-color: #5b0101;
  color: white;
  padding: 40px;
  border-radius: 0 0 10px 10px;
}

nav > a:hover {
  color: #5b0101;
  text-decoration: underline;
  background-color: white;
  padding: 42px;
  border-radius: 10px;
  transition: 0.4s;
}

.foto {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  background-image: url("img/coxinha\ vovo.png");
  width: 60%;
  height: 400px;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 40px;
}

button {
  margin-top: 20px;
  background-color: rgb(199, 0, 0);
  color: rgb(100, 7, 7);
  height: 60px;
  width: 300px;
  border-radius: 100px;
  font-size: 25px;
  border: none;
}

p,
h1 {
  font-size: 20px;
  color: white;
}

mark {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.46);
}

.logo {
  background-color: #f9a20000;
  display: flex;
  justify-content: center;
  animation: flutuar 2s ease-in infinite;
}

@keyframes flutuar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.frase {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

input {
  margin-bottom: 40px;
  font-size: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  background-color: #f4b33b;
  width: 700px;
  height: 70px;
  border-radius: 15px;
  transition: transform 0.4s ease;
  border-style: none;
}

label {
  color: white;
}

input:hover {
  transform: scale(1.1);
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

button {
  background-color: rgb(140, 9, 9);
  color: rgb(255, 255, 255);
  height: 40px;
  width: 120px;
  border-radius: 20px;
}

.botao {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.emlinha {
  width: 18%;
  display: inline;
  margin-top: 10px;
  width: 48%;
  display: inline;
  margin-top: 10px;
}

.enviar {
  width: 200px;
  cursor: pointer;
  letter-spacing: 2px;
  color: rgb(189, 164, 0);
  background-color: aliceblue;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

#style:hover {
  color: white;
  background-color: rgb(208, 160, 0);
  font-size: 17px;
}

label {
  color: white;
}

.forms {
  display: flex;
  justify-content: center;
  color: white;
}

.tudo2 {
  background-color: #fdc660;
}

.forms input::placeholder {
  color: rgba(255, 255, 255, 0.485);
}
