*{
      font-family: "Luckiest Guy", cursive;
      margin: auto;
}
.cabecalho{
     background-color: rgb(255, 179, 0);
     height: 100px;
     margin: auto;
     text-align: center;
}
.logo{
    width: 100px;
    margin-top: 8px;
}
.fundo{
    width: 100%;
    height: 600px;

}
.linkparapaginas{
     background-color: rgb(255, 179, 0);
     display: flex;
     justify-content: space-around;
     height: 60px;
}
.paginas{
      background-color: rgba(255, 255, 255, 0.756);
}
a{
   color: black;
   text-decoration: none;
  font-family: "Luckiest Guy", cursive;
}
.links:hover{
    color: rgb(130, 9, 9);
    font-size: 20px;
    transition: 0.5s;
}
.variascoxinhas{
    width: 100%;
   height: 400px;
}
.cardapio{
    background-color:rgb(255, 179, 0); 
    padding: 5px;
    border-radius: 30px;
 
 
}
.cardapio:hover{
    color: rgb(130, 9, 9);
    font-size: 20px;
    transition: 0.5s; 
}
.contanier{
 position: relative;
 display: inline-block;
  
}
.contanier img{
    display: block;
    max-width: 100%;
}
.container .cardapio{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tragetoria{
  color: rgb(130, 9, 9);
  margin-top: -10px;
}
h1{
   font-size: 40px;
   text-align: center;
}
.historia{
   width: 300px;
     background-color:rgb(250, 221, 155); 
      border-radius: 30px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 60px;
}
.texhis{
    padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;

}
.acesse{
    background-color:  rgb(130, 9, 9);
        padding: 5px;
    border-radius: 30px;
    margin-left: 40px;
    color:  rgb(246, 204, 36);
    padding-left: 20px;
    padding-right: 20px;
  

}
.acesse:hover{
 font-size: 17px;
  transition: 0.5s; 

}
.coxhis{
    display: flex;
    background-color: rgba(255, 255, 255, 0.756);
    padding-bottom: 100px;
    
}
.inha{
    margin-left: 100px;
}
.coxiinha{
    width: 300px;
    height: 300px;
 margin-top: 50px;
 margin-left: 130px;
    
}
.retangulo{
   display: flex;

}
.falecom{
    width: 350px;
    margin-right: 30px;
    color:rgb(255, 154, 1) ;
    font-size: 80px;
    margin-left: 90px;
    text-shadow: 5px 5px 5px  rgb(70, 2, 2); ;
}
.email{
  color:rgb(221, 141, 22) ;
  margin-top: 200px;
  font-size: 90px;
  text-shadow: 5px 5px 5px  rgb(70, 2, 2); 
}
.mandar:hover{
  font-size: 25px;
    transition: 0.5s;
}
.seta{
    width: 500px;
    margin-top: 200px;
}
.emaill{
   margin-top: 30px;

   width: 100%;
    background-image: url(img/retangulooo.png);
    margin-left: -20px;
    background-repeat: no-repeat;
    margin-bottom: 3px;
}
.mandar{
    background-color:rgb(221, 141, 22)   ;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: rgb(130, 9, 9);
    box-shadow: 5px 5px 5px  rgb(70, 2, 2); 
    
}
.mao{
    width:900px;
    height: 300px;
    margin-bottom: 0px;
}

footer{
    background-color: rgb(255, 154, 1)  ;
     margin-top: 0;
  
}
body{
     background-color: rgb(255, 154, 1)  ;
}
.logodois{
    margin-left: 600px;
    width: 300px
  
}
.tracado{
width: 500px;

}
.tra{
    margin-left: 30px;
    width: 500px;
}
.linkfo{
    display: flex;
   margin-bottom: 40px;
}
.foo:hover{
    color:rgb(130, 9, 9) ;
    font-size: 20px;
}